* {
    font-family: Arial, Helvetica, sans-serif;
}

.byui-header {
    background-color: #0076C6;
    height: 100px;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: -50px;
}

#email-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
}

#email-table td,
#email-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#email-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#email-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0076C6;
    color: white;
}

#copy-button {
    margin-top: 10px;
}

#toastMessage {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #0076C6;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50%;
}

#toastMessage.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }